<div class="col-xs-12 col-sm-3 col-md-2 left-side">
	<a id="logo" href="">
		<img src="">
		logo
	</a>
	<span id="toggle-menu"><i class="icon glyphicon glyphicon-align-justify"></i>Menu</span>
	<ul class="active">
		<li>
			<%= link_to admin_posts_url do %>
				<i class="icon glyphicon glyphicon-pushpin"></i>
				<span class="xn-text">文章管理</span>
			<% end %>
			<ul class="menu-child-category">
				<li><%= link_to('所有文章', admin_posts_url, class: :"active") %></li>
				<li><%= link_to('分類管理', admin_post_categories_path) %></li>
			</ul>
		</li>
		<li><a href=""><i class="icon glyphicon glyphicon-file"></i></a></li>
		<li><a href=""><i class="icon glyphicon glyphicon-bookmark"></i></a></li>
		<li><a href=""><i class="icon glyphicon glyphicon-briefcase"></i></a></li>
		<li><a href=""><i class="icon glyphicon glyphicon-cog"></i></a></li>
	</ul>
</div>