<%= render 'admin/common/head' %>
<div class="container-fluid">
	<div class="row">
		<%= render 'admin/common/menu' %>
			<%= render 'form' %>		
	</div> <!-- row END -->
</div> <!-- container-fluid END -->

